@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(23 25 29);
        color: rgb(255 241 242);
    }
}

.prose {
    color: #e6e6e6;
    max-width: 100%;
}

.prose :where(a):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    text-decoration: none;
}

.prose
    :where(a):not(:where([class~="not-prose"], [class~="not-prose"] *)):hover {
    text-decoration: underline;
}

.md\:prose-base
    :where(pre):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    font-size: 0.975em;
    line-height: 1.7142857;
    margin-top: 1.7142857em;
    margin-bottom: 1.7142857em;
    border-radius: 0.375rem;
    padding: 0 !important;
}

body {
    padding-top: 2rem;
}

html {
    scroll-padding-top: 3.2rem;
}

h1 {
    font-size: 2.3rem;
    font-weight: 600;
}

h3 {
    font-size: 1.4rem;
}

h2 {
    font-size: 1.6rem;
}

p {
    font-size: 1.1rem;
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 1.7rem;
    }
}
