@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(34 36 34);
        color: #e1e1e1;
    }
}

body {
    background-color: rgb(34 36 34);
    color: #e1e1e1;
}
